.security-review-run-and-review__table {
    border: none;
}

.security-review-run-and-review__entry {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
}

.security-review-run-and-review__entry:last-child {
    border-bottom-width: 1px;
}

.security-review-run-and-review__entry.skipped {
    color: #040f37;
    background-color: #dddddd;
}
.security-review-run-and-review__entry.success {
    color: #255b1e;
    background-color: #e5ffe2;
}
.security-review-run-and-review__entry.fail {
    color: #8c2e0b;
    background-color: #fef5f1;
}
.security-review-run-and-review__entry.warning {
    color: #734c00;
    background-color: #fdf8ed;
}
.security-review-run-and-review__entry.info {
    color: #000;
    background-color: #dfefff;
}
